
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f4f7f9;
}


.container {
  margin: 100px auto;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #ffffff;
  color: #1f2937; 
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


.form-group {
  text-align: center;
}

.form-group h1 {
  font-size: 36px;
  font-weight: 600;
  color: #111827; 
}


input[type="button"] {
  height: 42px;
  width: 110px;
  border-radius: 8px;
  border: none;
  background-color: #ebbac9;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

input[type="button"]:hover {
  background-color: #e8e274; 
}

input[type="button"]:active {
  background-color: #1d4ed8; 
}


.Butons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}